{% extends 'flatpages/default.html' %}

{% block content %}
    <h1>Article List</h1>
    <ul>
        {% for article in article_list %}
            <li><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a> - {{ article.pub_date }}</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; prev</a>
            {% endif %}

            <span class="current-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}